.award-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  width: 100px;
  height: 100px;
  fill: #fdff6a;
  margin: 0 auto;
}

.award-name {
  position: absolute;
  margin: 0;
}