* {
  box-sizing: border-box;
}

body {
  font-family: 'Delius', cursive;
  color: #333;
}

.app {
  width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  border-bottom: #eee solid 1px;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.main {
  width: 95%;
  margin: 1rem auto;
  padding: 2.5rem 0;
}

.nav-container {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 2rem;
  padding: .5rem 1rem;
  margin: 0;
}

.swatches {
  position: absolute;
  z-index: 20;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.swatch {
  width: 2rem;
  height: 2rem;
}