* {
  box-sizing: border-box;
}

body {
  font-family: 'Delius', cursive;
  color: #333;
  margin: 0;
}

.app {
  width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  border-bottom: #eee solid 1px;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.main {
  width: 95%;
  margin: 1rem auto;
  padding: 2.5rem 0;
}

.nav-container {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 2rem;
  padding: .5rem 1rem;
  margin: 0 auto;
}

@media only screen and (min-width: 481px) {
  .main, h1 {
    width: 75%;
  }
}