.awards {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.award {
  min-width: 30%;
  text-align: center;
  font-size: 90px;
  padding: 16px;
  margin: 0 auto;
}

.awards p {
  font-size: 16px;
}

@media only screen and (max-width: 480px) {
  .award {
    font-size: 18.5vw;
    padding: 3vw;
  }
  
  .awards p {
    font-size: 4vw;
  }
}