.habit {
  list-style: none;
  display: flex;
  margin-top: 20px;
  width: 100%;
  padding: 5px;
  position: relative;
}

.habits-list {
  padding: 0;
}

.delete-habit-btn {
  display: none;
}

.habit:hover.delete-habit {
  display: block;
}

@media only screen and (max-width: 480px) {
  .habit {
    margin-top: 4vw;
    padding: 1vw;
  }
}