.habit {
  border-radius: 10px;
  padding: .75rem .5rem;
  margin: 1rem auto;
  list-style: none;
  display: flex;
  position: relative;
}

.habits-list {
  padding: 0;
}

.empty-habits-message {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty-habits-message p {
  font-size: 1rem;
}

.empty-habits-message img {
  width: 50%;
  transform: rotate(132deg);
}

@media only screen and (min-width: 481px) {
  .empty-habits-message img {
    width: 25%;
  }
}