.delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto .1rem;
  width: 28px;
  height: 28px;
  fill: #333;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
}

.delete-btn:hover {
  fill: #ff718d;
}

@media only screen and (max-width: 1024px) {
  .delete-btn {
    margin: auto .5rem;
    width: 1rem;
    height: 1rem;
    padding: 0;
  }

  .delete-btn:hover {
    fill: #333;
  }
}