.delete {
  margin-left: 40px;
}

.delete-btn {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  height: 100%;
}

.close {
  fill: lightgrey;
  height: 18px;
  width: 18px;
}

.close:hover {
  fill: #FB7C81;
}